.chat {
    width: 78%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 1vw;
    justify-content: space-between;
}

.enviar-mensagem {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
    align-items: center; /* Centraliza verticalmente os itens */
    padding: 1vw; /* Espaço interno */
    background-color: #f9f9f9; /* Cor de fundo da área de entrada */
    border-top: 1px solid #ccc; /* Borda superior */
    border-radius: 5px; /* Arredondar os cantos */
}

.enviar-mensagem textarea {
    width: 100%;
    max-height: 7vw;
    height: 3.5vw;
    padding: 1vw; /* Espaçamento interno do input */
    border: 1px solid #ccc; /* Borda do input */
    border-radius: 4px; /* Arredondar os cantos do input */
    font-size: 1vw; /* Tamanho da fonte do input */
    outline: none;
    resize: vertical; /* Impede que o usuário redimensione o campo manualmente */
}

.enviar-mensagem textarea:focus {
    border: #118FD2 1px solid;
}

.botoes {   
    display: flex;
    gap: 0.3vw;
    width: 100%;
    padding: 0.1vw;
}

.botoes button {
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 4px; /* Arredondar os cantos do botão */
    padding: 0.4vw; /* Espaçamento interno do botão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s; /* Animação na mudança de cor */
}

.enviar-mensagem button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}


.mensagens {
    width: 95%;
    min-height: 35vw;
    max-height: 35vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 1vw;
}

.mensagens::-webkit-scrollbar {
    width: 8px; 
}

.mensagens::-webkit-scrollbar-thumb {
    background-color: #0a5177; 
    border-radius: 4px;
    height: 1vw;
}

.mensagens::-webkit-scrollbar-thumb:hover {
    background-color: #242038; 
}

.mensagens::-webkit-scrollbar-track {
    background: #118FD2 ; 
    border-radius: 4px; 
}
