.card {
    background-color: #242038;
    border-radius: 0.3vw;
    color: white;
    width: 20%;
    height: 15vw;
    display: flex;
    flex-direction: column;
    border: 2px solid #D9D9D9;
}

.card:hover {
    border: 2px solid #118FD2;
}

#div1 {
    display: flex;
    gap: 1vw;
    margin: 0.5vw;
}

#div1 img {
    min-width: 30%;
    max-width: 30%;
    min-height: 4vw;
    max-height: 4vw;
    border: none;
    border-radius: 0.4vw;
}

.invisivel {
    visibility: hidden; /* Torna o elemento invisível */
    height: 0;          /* Remove o impacto visual do espaço */
    margin: 0;          /* Elimina margens associadas */
    padding: 0;         /* Remove preenchimentos */
}


#div2 {
    display: flex;
    flex-direction: column;
    min-width: 65%;
    max-width: 65%;
    max-height: 4vw;
    min-height: 4vw;
       
}

#div2 h2 {
    display: flex;
    align-items: center;
    height: 3vw;
}

#div2 h3 {
    height: 2vw;
}

#div3 {
    display: flex;
    justify-content: space-around;
}

.card h4 {
    height: 100%;
    margin-left: 1vw;
}

#div3 h5 {
    background-color: #1AB800;
    border: none;
    border-radius: 0.2vw;
    margin-bottom: 0.5vw;
    display: flex;
    text-align: center;
    align-items: center;
    height: 2vw;
    padding: 0.8vw; 
    width: 30%;
}

#div3 button {
    background-color: #118FD2;
    border: none;
    border-radius: 0.2vw;
    padding: 0.8vw;
    height: 2vw;
    color: white;
    display: flex;
    text-align: center;
    align-items: center;
}

#div3 button:hover {
    cursor: pointer;
}

#div3 a {
    text-decoration: none;
    color: #D9D9D9;
    font-weight: 500;
}