/*!************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/mesa/[id]/page.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************/
main {
    display: flex;
    background-color: #242038;
    width: 100%;
}


/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./node_modules/react-responsive-modal/styles.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.react-responsive-modal-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.react-responsive-modal-container {
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

/* Used to trick the browser to center the modal content properly  */
.react-responsive-modal-containerCenter:after {
  width: 0;
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.react-responsive-modal-modal {
  max-width: 800px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: #ffffff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 1.2rem;
  padding: 1.2rem;
  position: relative;
  overflow-y: auto;
}

.react-responsive-modal-closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

/* Used to fix a screen glitch issues with the animation see https://github.com/pradel/react-responsive-modal/issues/495 */
.react-responsive-modal-overlay,
.react-responsive-modal-container,
.react-responsive-modal-modal {
  animation-fill-mode: forwards !important;
}

@keyframes react-responsive-modal-overlay-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes react-responsive-modal-overlay-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes react-responsive-modal-modal-in {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes react-responsive-modal-modal-out {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0.96);
    opacity: 0;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/ItemArquivo/itemarquivo.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/

.arquivo {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.arquivo button {
    border: none;
    background-color: #d9d9d9;
}

.arquivo button:hover {
    color: red;
    cursor: pointer;
}

.arquivo-inside:hover {
    cursor: pointer;
    color: #118FD2;
}

.arquivo-inside img {
    width: 1vw;
}

.arquivo-inside h3 {
    color: black;
    font-size: 0.8vw;
    font-weight: 400;
}

.arquivo-inside h3:hover {
    cursor: pointer;
    color: #118FD2;
}

.arquivo-inside {
    display: flex;
    gap: 0.5vw;
}



.arquivo-modal {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    max-width: 600px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: fadeIn 0.3s ease;
}

/* Título do modal */
.arquivo-modal-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

/* Estilo do textarea */
.arquivo-modal-textarea {
    width: 100%;
    height: 200px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: vertical;
    transition: border-color 0.3s ease;
}

.arquivo-modal-textarea:focus {
    border-color: #007bff;
    outline: none;
}

/* Estilo do conteúdo quando não for dono da mesa */
.arquivo-modal-content {
    font-size: 18px;
    color: #555;
}

/* Mensagem de aviso */
.arquivo-modal-message {
    color: #888;
    font-size: 14px;
    margin-top: 10px;
}

/* Animação de fade-in para o modal */
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Biblioteca/biblioteca.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************/
.biblioteca {
    background-color: #242038;
    padding: 0.6vw;
    height: 100%;
    width: 100%;
}

.biblioteca-interior {
    background-color: #d9d9d9;
    border: none;
    border-radius: 0.5vw;
    padding: 0.6vw;
    height: 20vw;
}

.pesquisa {
    display: flex;
    width: 100%;
    height: 1vw;
    justify-content: space-between;
    gap: 0.5vw;
    height: 1.4vw;
    margin-bottom: 0.8vw;
}

.pesquisa form {
    background-color: grey;
    border: none;
    width: 100%;
    display: flex;
    border-radius: 1vw;
    height: 1.4vw;
}

.pesquisa form img {
    width: 1vw;
    margin-left: 0.4vw;
    margin-right: 0.4vw;
}

.pesquisa form input {
    width: 100%;
    border: none;
    outline: none;
    background-color: grey;
    color: #d9d9d9;
    border-top-right-radius: 1vw;
    border-bottom-right-radius: 1vw;
   padding-left: 0.5vw;
    display: flex;
    justify-content: center;
}

.pesquisa form input:focus {
    background-color: grey;
}

.pesquisa form input::placeholder {
    color: #d9d9d9;
    font-size: 0.55vw;
}

.pesquisa button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.4vw;
    height: 1.4vw;
    border: none;
    border-radius: 0.2vw;
    background-color: #118FD2;
    color: #d9d9d9;
    font-size: 1.2vw;
}

.pesquisa button:hover {
    cursor: pointer;
}
.arquivos {
    display: flex;
    flex-direction: column;
    gap: 0.5vw  ;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Chat/chat.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************/
.chat {
    width: 78%;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding-top: 1vw;
    justify-content: space-between;
}

.enviar-mensagem {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
    align-items: center; /* Centraliza verticalmente os itens */
    padding: 1vw; /* Espaço interno */
    background-color: #f9f9f9; /* Cor de fundo da área de entrada */
    border-top: 1px solid #ccc; /* Borda superior */
    border-radius: 5px; /* Arredondar os cantos */
}

.enviar-mensagem textarea {
    width: 100%;
    max-height: 7vw;
    height: 3.5vw;
    padding: 1vw; /* Espaçamento interno do input */
    border: 1px solid #ccc; /* Borda do input */
    border-radius: 4px; /* Arredondar os cantos do input */
    font-size: 1vw; /* Tamanho da fonte do input */
    outline: none;
    resize: vertical; /* Impede que o usuário redimensione o campo manualmente */
}

.enviar-mensagem textarea:focus {
    border: #118FD2 1px solid;
}

.botoes {   
    display: flex;
    gap: 0.3vw;
    width: 100%;
    padding: 0.1vw;
}

.botoes button {
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Remove a borda padrão do botão */
    border-radius: 4px; /* Arredondar os cantos do botão */
    padding: 0.4vw; /* Espaçamento interno do botão */
    cursor: pointer; /* Muda o cursor ao passar sobre o botão */
    transition: background-color 0.3s; /* Animação na mudança de cor */
}

.enviar-mensagem button:hover {
    background-color: #0056b3; /* Cor de fundo ao passar o mouse */
}


.mensagens {
    width: 95%;
    min-height: 35vw;
    max-height: 35vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-bottom: 1vw;
}

.mensagens::-webkit-scrollbar {
    width: 8px; 
}

.mensagens::-webkit-scrollbar-thumb {
    background-color: #0a5177; 
    border-radius: 4px;
    height: 1vw;
}

.mensagens::-webkit-scrollbar-thumb:hover {
    background-color: #242038; 
}

.mensagens::-webkit-scrollbar-track {
    background: #118FD2 ; 
    border-radius: 4px; 
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/ItemMensagem/itemmensagem.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************/
.mensagem {
    display: flex;
    flex-direction: column;
    width: 95%;
    margin-bottom: 2vw;
}

.mensagem:last-child {
    margin-bottom: 0vw;
}

.mensagem:first-child {
    margin-bottom: 1vw;
}

.mensagem h1 {
    font-size: 1vw;
    font-weight: 300;
    white-space: pre-wrap; /* Preserva quebras de linha */
    word-wrap: break-word; /* Permite quebrar palavras longas se necessário */
}

.btn-deletar {
    font-size: 1vw;
    margin-left: 1.5vw;
    border: none;
}

.btn-deletar:hover {
    cursor: pointer;
    color: red;
}

.identificadores {
    display: flex;
    border-top: 2px black solid;
    padding-top: 0.3vw;
}

.identificadores h2 {
    padding-right: 2vw;
    color: black;
}

.identificadores h3 {
    color: black;
}

/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Jogadores/jogadores.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.personagens {
  display: flex;
  flex-direction: column;
  border-bottom: #118fd2 2px solid;
  padding: 0.5vw;
  gap: 1vw;
}

.personagens button {
  border: none;
  border-radius: 0.2vw;
  padding: 0.4vw;
}

.personagens button:hover {
  background-color: #118fd2;
  color: white;
  cursor: pointer;
}

.jogadores {
  width: 100%;
  border-bottom: #118fd2 2px solid;
  padding: 1vw;
  display: flex;
  flex-direction: column;
  gap: 1vw;
  min-height: 20vw;
  max-height: 20vw;
  overflow-y: auto;
}

.customizado-modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.customizado-modal form {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}

.personagens-titulo h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
  text-align: center;
}

.personagens-botao {
    background-color: #118fd2;
    border: none;
    padding: 0.75vw;
    border-radius: 0.4vw;
    color: #fff;
    font-size: 1vw;
}

.personagens-botao:hover {
    cursor: pointer;
}

.jogadores-input {
  display: flex;
  font-size: 1vw;
  flex-direction: column;
  gap: 0.2vw;
}

.jogadores-input input, select {
    border: black 1px solid;
    border-radius: 0.4vw;
    padding: 0.5vw;
    font-size: 0.8vw;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/ItemJogador/itemjogador.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/
.jogador {
    display: flex;
    align-items: center;
}

.jogador img {
    width: 5vw;
    height: 5vw;
    border: none;
    border-radius: 100%;
    margin-right: 1vw;
}

.separador-img-conteudo {
    display: flex;
    flex-direction: column  ;
    gap: 0.2vw;
}

.jogador h1 {
    color: #d9d9d9;
    font-size: 0.8vw;
}

.jogador h2 {
    color: #d9d9d9;
    font-size: 0.6vw;
}

.barrinha {
    min-width: 13vw;
    max-width: 13vw;
    background-color: #118FD2;
    border: none;
    border-radius: 40vw;
    font-size: 1vw;
    text-align: center;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Sidebar/sidebar.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.jogadores-biblioteca {
    background-color: #242038;
    width: 22%;
    height: 100%;
}
