/*!*****************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/app/globals.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************/
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend Giga", sans-serif;
}

h1 {
    font-size: 1.5vw;
}

h2 {
    font-size: 1vw;
}

h3 {
    font-weight: 300;
    font-size: 1vw;
}

h4 {
    font-size: 0.7vw;
}

h5 {
    font-size: 0.7vw;
}

button {
    font-size: 0.7vw;
}

label {
    font-size: 1vw;
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src\\app\\layout.tsx","import":"","arguments":[{"src":"./fonts/GeistVF.woff","variable":"--font-geist-sans","weight":"100 900"}],"variableName":"geistSans"} ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__geistSans_1e4310';
src: url(/_next/static/media/4473ecc91f70f139-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: '__geistSans_Fallback_1e4310';src: local("Arial");ascent-override: 85.83%;descent-override: 20.52%;line-gap-override: 9.33%;size-adjust: 107.19%
}.__className_1e4310 {font-family: '__geistSans_1e4310', '__geistSans_Fallback_1e4310'
}.__variable_1e4310 {--font-geist-sans: '__geistSans_1e4310', '__geistSans_Fallback_1e4310'
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[3].use[1]!./node_modules/next/dist/build/webpack/loaders/next-font-loader/index.js??ruleSet[1].rules[13].oneOf[3].use[2]!./node_modules/next/font/local/target.css?{"path":"src\\app\\layout.tsx","import":"","arguments":[{"src":"./fonts/GeistMonoVF.woff","variable":"--font-geist-mono","weight":"100 900"}],"variableName":"geistMono"} ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
@font-face {
font-family: '__geistMono_c3aa02';
src: url(/_next/static/media/463dafcda517f24f-s.p.woff) format('woff');
font-display: swap;
font-weight: 100 900;
}@font-face {font-family: '__geistMono_Fallback_c3aa02';src: local("Arial");ascent-override: 69.97%;descent-override: 16.73%;line-gap-override: 7.61%;size-adjust: 131.49%
}.__className_c3aa02 {font-family: '__geistMono_c3aa02', '__geistMono_Fallback_c3aa02'
}.__variable_c3aa02 {--font-geist-mono: '__geistMono_c3aa02', '__geistMono_Fallback_c3aa02'
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Footer/footer.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
footer {
    background-color: #242038;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    border-top: 3px solid #118FD2;
}

.links-footer {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
}

.links-footer ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 55vw;
}

.links-footer ul li {
    width: 18vw;
    color: #D9D9D9;
    font-family: "Lexend Giga", sans-serif; 
}

.footer-titulos li {
    font-size: 1.8vw;
}

.footer-links li {
    font-size: 1vw;
}

.footer-links li:hover {
    color: #118FD2;
    cursor: pointer;
}
/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Navbar/navbar.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
nav {
    background-color: #242038;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5vw;
    padding-left: 2vw;
    padding-right: 2vw;
    height: 6vw;
    border-bottom: #118FD2 3px solid;
}

.logo a {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo img {
    width: 5vw;
}

.logo h1 {
    color: #118FD2;
    font-family: "Lexend Giga", sans-serif; 
    font-size: 2vw;
    font-weight: 300;
}

.links ul {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 12vw;
}

.links ul li{
    color: white;
    font-family: "Lexend Giga", sans-serif; 
    font-size: 0.9vw;
}

.links ul li:hover {
    color: #118FD2;
    cursor: pointer;
}

.mesas h2 {
    color: white;
}

.login-cadastro {
    display: flex;
    gap: 1vw;
}

.login-cadastro button {
    font-family: "Inter", sans-serif;
    font-size: 1vw;
}

#entrar  {
    border: none;
    background-color: transparent;
    color: white;   
}

#entrar:hover  {
    color:#118FD2;   
    cursor: pointer;
}

#cadastro {
    border-radius: 1vw;
    padding: 1vw;
    border: none;
}

#cadastro:hover {
    background-color: #118FD2;
    color: white;
    cursor: pointer;
}

.link {
    display: flex;
    text-decoration: none;
}

.usuario-logado {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.usuario-logado button {
    border-radius: 1vw;
    padding: 0.7vw;
    border: none;
    font-size: 0.8vw;
}

.usuario-logado button:hover {
    background-color: #118FD2;
    color: white;
    cursor: pointer;
}

.usuario-logado h2 {
    font-size: 1vw;
    color: #d9d9d9;
}

@media (max-width:800px) {
    
}

