/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./node_modules/react-responsive-modal/styles.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/
.react-responsive-modal-root {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.react-responsive-modal-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.react-responsive-modal-container {
  height: 100%;
  outline: 0;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
}

/* Used to trick the browser to center the modal content properly  */
.react-responsive-modal-containerCenter:after {
  width: 0;
  height: 100%;
  content: '';
  display: inline-block;
  vertical-align: middle;
}

.react-responsive-modal-modal {
  max-width: 800px;
  display: inline-block;
  text-align: left;
  vertical-align: middle;
  background: #ffffff;
  box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.25);
  margin: 1.2rem;
  padding: 1.2rem;
  position: relative;
  overflow-y: auto;
}

.react-responsive-modal-closeButton {
  position: absolute;
  top: 14px;
  right: 14px;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  display: flex;
}

/* Used to fix a screen glitch issues with the animation see https://github.com/pradel/react-responsive-modal/issues/495 */
.react-responsive-modal-overlay,
.react-responsive-modal-container,
.react-responsive-modal-modal {
  animation-fill-mode: forwards !important;
}

@keyframes react-responsive-modal-overlay-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes react-responsive-modal-overlay-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes react-responsive-modal-modal-in {
  0% {
    transform: scale(0.96);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 1;
  }
}

@keyframes react-responsive-modal-modal-out {
  0% {
    transform: scale(100%);
    opacity: 1;
  }
  100% {
    transform: scale(0.96);
    opacity: 0;
  }
}

/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/CriaMesa/criamesa.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.criar-mesa {
    display: flex;
    justify-content: center;
    background-color: #D9D9D9;
    width: 95%;
    margin: 0 auto;
    border: none;
    border-radius: 1vw;
    padding: 1.4vw;
}

.criar-mesa form {
    background-color: #242038;
    display: flex;
    width: 60%;
    padding: 1vw;
    gap: 0.8vw;
    border: none;
    border-radius: 0.42vw;
}

.imagem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:baseline;
    height: 20vw;
    gap: 0.2vw;
    width: 100%;
}

.imagem img {
    height: 16vw;
    width: 100%;
    border: #118FD2 2px solid;
    border-radius: 0.4vw;
}

.imagem img:hover {
    cursor: pointer;
}

.imagem h2 {
    color: white;
}

.imagem button {
    color: #242038;
    background-color: #242038;
    border: none;
    height: 2vw;
    width: 7vw;
    margin-top: 1vw;
}

.info-basica {
    display: flex;
    flex-direction: column;
    width: 20vw;
    gap: 0.8vw;
}

.componente {
    display: flex;
    justify-content: baseline;
    flex-direction: column;
    gap: 0.2vw;
}

.componente input {
    width: 16vw;
    height: 2vw;
    border: none;
    border-radius: 0.4vw;
}

.vagas {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
}

.vagas div {
    display: flex;
    gap: 2vw;
}

.vagas div label {
    display: flex;
    align-items: center;
    gap: 0.1vw;
}

.vagas div label input[type="radio"] {
    -moz-appearance: none;
         appearance: none;
    -webkit-appearance: none; 
    width: 1.5vw;
    height: 1.5vw;
    border: none;
    border-radius: 0.4vw;
    background-color: #fff;
    cursor: pointer;
}

.vagas div label input[type="radio"]:checked::after {
    content: '✖';
    color: #118FD2;
    display: flex;
    justify-content: center;
    align-items: center ;
    height: 100%;
    font-size: 1.5vw;
}

.info-basica label, h3 {
    color: white;
}

.descricao {
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    height: 20vw;
    width: 100%;
    gap: 0.2vw;
}

.descricao label {
    color: white;
}

.descricao textarea {
    height: 16vw;
    width: 100%;
    border: none;
    border-radius: 0.4vw;
}

.descricao button {
    height: 2vw;
    width: 100%;
    border: none;
    border-radius: 0.2vw;
    color: white;
    background-color: #1AB800;
    margin-top: 1vw;
}

.descricao button:hover {
    cursor: pointer;
    background-color: #118FD2;
}

/* Estilos gerais do modal */
.react-modal {
    padding: 1.5vw;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    width: 90%;
    text-align: center;
}

.react-modal h2 {
    font-size: 1.5rem;
    color: #333;
    margin-bottom: 1rem;
}

.react-modal p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 1rem;
}

/* Estilo para o input */
.react-modal input {
    width: 100%;
    padding: 0.8rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 1rem;
    transition: border-color 0.3s ease;
}

.react-modal input:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5);
}

/* Estilo para o botão de fechar */
.react-modal button {
    background-color: #007bff;
    color: white;
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.react-modal button:hover {
    background-color: #0056b3;
}

/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Banner/banner.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.banner {
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 2vw;
    border-top: #118FD2 3px solid;
    background-color: #118FD2;
}
/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Mesas/mesas.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.mesas h1 {
    margin: 1vw;
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 2vw;
    background-color:#D9D9D9;
    padding: 1vw;
    width: 95%;
    margin: 0 auto;
    border: none;
    border-radius: 1vw;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/MesasDestaque/mesasdestaque.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************/


.mesas h1 {
    margin: 1vw;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/ItemMesa/itemmesa.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.card {
  background-color: #242038;
  border-radius: 0.3vw;
  color: white;
  width: 20%;
  height: 15vw;
  display: flex;
  flex-direction: column;
  gap: 0.1vw;
  border: 2px solid #d9d9d9;
}

.card:hover {
  border: 2px solid #118fd2;
}

#div1 {
  display: flex;
  gap: 1vw;
  margin: 0.5vw;
}

#div1 img {
  min-width: 30%;
  max-width: 30%;
  min-height: 5.5vw;
  max-height: 5.5vw;
  border: none;
  border-radius: 0.4vw;
}

.invisivel {
  visibility: hidden; /* Torna o elemento invisível */
  height: 0; /* Remove o impacto visual do espaço */
  margin: 0; /* Elimina margens associadas */
  padding: 0; /* Remove preenchimentos */
}

#div2 {
  display: flex;
  flex-direction: column;
  min-width: 65%;
  max-width: 65%;
  max-height: 5vw;
  min-height: 5vw;
}

#div2 h2 {
  display: flex;
  align-items: center;
  height: 3vw;
}

#div2 h3 {
  height: 2vw;
}

#div3 {
  display: flex;
  justify-content: space-around;
}

.card h4 {
  height: 100%;
  margin-left: 1vw;
}

#div3 h5 {
  background-color: #1ab800;
  border: none;
  border-radius: 0.2vw;
  margin-bottom: 0.5vw;
  display: flex;
  text-align: center;
  align-items: center;
  height: 2vw;
  padding: 0.8vw;
  width: 30%;
}

#div3 button {
  background-color: #118fd2;
  border: none;
  border-radius: 0.2vw;
  padding: 0.8vw;
  height: 2vw;
  color: white;
  display: flex;
  text-align: center;
  align-items: center;
}

#div3 button:hover {
  cursor: pointer;
}

#div3 a {
  text-decoration: none;
  color: #d9d9d9;
  font-weight: 500;
}

.customizado-modal {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.senha-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 0.5vw;
}

.senha-titulo h2 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.senha-botao {
  background-color: #118fd2;
  border: none;
  padding: 0.75vw;
  border-radius: 0.4vw;
  color: #fff;
  font-size: 1vw;
  width: 100%;
}

.senha-botao:hover {
  cursor: pointer;
}

.senha-input {  
  font-size: 1vw;
  padding: 0.8vw;
  border: 1px solid black;
  border-radius: 0.4vw;
  flex-direction: column;
}

.jogadores-input input,
select {
  border: black 1px solid;
  border-radius: 0.4vw;
  padding: 0.5vw;
  font-size: 0.8vw;
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/MesasRecomendadas/mesasrecomendadas.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************/


.mesas h1 {
    margin: 1vw;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[12].use[3]!./src/components/Pesquisa/pesquisa.css ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************/
.pesquisa-home {
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 3vw;
    width: 50vw;
}

.filtros {
    background-color: #242038;
    border: 1px black solid;
    border-right: none;
    border-top-left-radius: 0.8vw;
    border-bottom-left-radius: 0.8vw;
    width: 10%;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.filtros img {
    filter: invert(99%) sepia(1%) saturate(4224%) hue-rotate(235deg) brightness(118%) contrast(100%);
    width: 2vw;
}

.filtros:hover {
    cursor: pointer;
}

.pesquisa-texto {
    border: 1px black solid;
    width: 80%;
    height: 4vw;
}

.pesquisa-texto input {
    border: none;
    outline: none;
    height: 100%;
    width: 100%;
    font-size: 1.2vw;
    padding-left: 1vw;
    background-color: #D9D9D9;
}

.botao {
    background-color: #118FD2;
    border: 1px black solid;
    border-left: none;
    border-top-right-radius: 0.8vw;
    border-bottom-right-radius: 0.8vw;
    width: 10%;
    height: 4vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao img {
    width: 1.5vw;
}

.botao:hover {
    cursor: pointer;
}


